CompileFlags:
  CompilationDatabase:
    - build
    - raymob/.cxx/compile_commands
  Add:
    - "--target=aarch64-linux-android24"
  Remove:
    - "-fmodules-ts"
    - "-fmodule-mapper=*"
    - "-fdeps-format=*"
    - "-fno-fat-lto-objects"
    - "-flto=*"

If:
  PathMatch: .*
