CompileFlags:
  CompilationDatabase:
    - build
    - build/android
    - raymob/.cxx/compile_commands
  Remove:
    - "-fmodules-ts"
    - "-fmodule-mapper=*"
    - "-fdeps-format=*"
    - "-fno-fat-lto-objects"
    - "-flto=*"

If:
  PathMatch: .*
